<div class="list">
	<div class="myCommunity">
		<div class="heading">My Communities</div>
		<div class="create"><div>Create</div></div>
	</div>
	<div class="communities">
		<div class="community">
			<div class="CommunityImg">
				<img src="/static/default.png">
			</div>
			<div class="nameNreq">
				<span class="Name">First Community</span>&nbsp;&nbsp;&nbsp;<span class="req">Request(0)</span>
			</div>
			<div class="setting">
				<a href="/manageCommunity"><i class="fa fa-cogs"></i></a>
			</div>
		</div>
	</div>
</div>