<div class="editcover"></div>
<div class="edit">
	<div class="heading">
		<h1>Update first community<button class="cross">×</button></h1>
		<h6>Created by superadmin ,23-Apr-2019</h6>
	</div>
	<div class="data">
		<div class="row">
			<div class="name">
				Commuity Name:
			</div>
			<div class="value">
				<input type="text" name="" class="textBox">
			</div>
		</div>
		<div class="row">
			<div class="name">
				Commuity Status:
			</div>
			<div class="value">
				<input type="text" name="" class="textBox">
			</div>
		</div>
		<div class="row">
			<div class="name">
			&nbsp;
			</div>
			<div class="value">
				<button class="update">Update</button>
			</div>
		</div>
	</div>
	<div class="close">
		<button class="cls">Close</button>
	</div>
</div>