<div class="Ccontainer">
	<form action="/community/AddCommunity/create" method="post">
		<h1>
			Create Community
		</h1>
		<% if(created == true){ %>
			<div class="created">
				Community Successfully Created
			</div>
		<% } %>
		<input type="text" name="CommunityName" class="textBox" placeholder="name" required>
		<h4>
			Description
		</h4>
		<textarea id="body" name="Discription"></textarea>
		<div class="role">
			<h4>Role : </h4> <input type="radio" name="MembershipRule" value="Direct" checked>Direct &nbsp; <input type="radio" name="MembershipRule" value="Permission">Permission
		</div>
		<input type="file" name="">
		<span class="upload">upload Image</span>
		<button class="create">Create Community</button>
	</form>
</div>