<div class="logoutCover">
	<div class="confirmques">
		<h1 class="confirm">Confirm Logout!</h1>
		<span class="ques">Do you really want logout?</span>
		<button id="yes" class="logout">Yes</button><button id="no" class="logout">No</button>
	</div>
</div>