<div class="Logoutcover">
	<div class="message">
		<h1>Confirm Logout!</h1>
		<h4>Do you really want logout?</h4>
		<div class="Lbuttons">
			<a href="">Yes</a><a class="no">No</a>
		</div>
	</div>
</div>