<div class="manageCommunity">
	<span>Manage Community</span>
	<a href="/community/invite/<%= community.Id %>" class="invitebutton">Invite Users</a>
	<a href="/community/editCommunity/<%= community.Id %>" class="edit">Edit Community</a>
</div>
<div class="editCommunity">
	<a href="/community/editCommunity/<%= community.Id %>">Edit Community</a>
</div>