<div class="manageCommunity">
	<span>Manage Community</span>
	<a href="/community/invite/<%= community.Id %>">Invite Users</a>
	<a href="" class="edit">Edit Community</a>
</div>
<div class="editCommunity">
	<a href="">Edit Community</a>
</div>