<div class="header">
	<span class="cq">cq</span>
	<i class="icon">icon</i>
	<div class="user">
		<span class="superadmin">superadmin</span>
		<span class="admin">admin</span>
		<img src="Black-Wallpapers-33-1680-x-1050-340x220.jpg" class="userImg">
	</div>
</div>