<div class="header">
	<span class="cq">cq</span>
	<i class="icon">icon</i>
	<div class="user">
		<span class="superadmin">superadmin</span>
		<span class="admin">admin</span>
		<a href="/profile"><img src="/static/default.png" class="userImg"></a>
	</div>
</div>