<div class="tabBar">
	<a href="" class="bar"><i class="fa fa-bars"></i><span>cq</span></a>
	<a href="" ><i class="fa fa-user"></i><span>superadmin</span></a>
	<a href="" ><i class="fa fa-users"></i><span>Communities</span></a>
	<a href="" ><i class="fa fa-toggle-on"></i><span>Switch As User</span></a>
	<a href="" ><i class="fa fa-lock"></i><span>Change Password</span></a>
	<a href="" ><i class="fa fa-sign-out"></i><span>logout</span></a>
</div>