<div class="tabBar">
	<a class="bar"><i class="fa fa-bars"></i><span>cq</span></a>
	<a href="profile" id="profile"><i class="fa fa-user"></i><span>superadmin</span></a>
	<a href="communityPanel" id="users"><i class="fa fa-users"></i><span>Communities</span></a>
	<a href="changePassword" id="changePassword"><i class="fa fa-lock"></i><span>Change Password</span></a>
	<a id="logout"><i class="fa fa-sign-out"></i><span>logout</span></a>
</div>