<div id="editModal" class="modal fade" role="dialog" style="z-index:9999;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h3 id="eheading" style="text-align:left;" class="modal-title"></h3>
                </div>

                <div class="modal-body">
                        <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-lg-5 col-lg-offset-3" style="width:50%;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Username:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="username" placeholder="Username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Phone:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" placeholder="Username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">City:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="city" placeholder="City">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Status:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="status">
                                    <option>Pending</option>
                                    <option>Confirmed</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Role:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="role">
                                    <option>User</option>
                                    <option>Community Manager</option>
                                    <option>Admin</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10" style="text-align:left;">
                                <button class = "btn btn-default" id="editsubmit" data-dismiss="modal">Update</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
        </div>
    </div>
</div>