<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body{
			padding: 0;
			margin: 0;
			font-family: sans-serif;
		}
		img{
			widows: 420px;
			height: 400px;
			transition: 0.5s;
			margin-top: 100px;
		}
		img:hover{
			transform: rotate(360deg);
		}
		.topbar, .msg{
			background-color: rgb(34,45,60);
			color: white;
			text-align: center;
		}
		.topbar{
			padding-top: 15px;
			padding-bottom: 3px;
			font-size: 35px;
		}
		.msg{
			margin: 0;
			font-weight: bold;
			padding: 15px 0px;
			border-radius: 5px;
			font-size: 17px;
			box-shadow: 1px 1px 10px gray;
			max-width: 1000px;
		}
	</style>
</head>
<body>
	<div class="topbar">
		cq
	</div>
	<center>
		<img src="/static/404.png">
		<div class="msg">
			Error: Unable to login you are deactivated contact site admin...
		</div>
	</center>
</body>
</html>