<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<link rel="stylesheet" type="text/css" href="/static/AddUser.css">
	<link rel="stylesheet" type="text/css" href="/static/LogoutCover.css">
	<link rel="stylesheet" type="text/css" href="/static/switch.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title></title>
</head>
<body>
<% include partials/LogoutCover.ejs %>
<div class="container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% include partials/tabBar.ejs %>
		<div class="content">
			<div class="added">
				<span style="width: 60%">User Added </span><span style="width: 40%" class="close">&times</span>
			</div>
			<div class="AddUser">
				<h1>Add User</h1>
				<!-- <form method="post" action="/addUser"> -->
					<input type="text" name="" class="textBox" id="name" placeholder="Name" required>
					<input type="email" name="" class="textBox" id="email" placeholder="Email" required>
					<input type="text" name="" class="textBox" id="Password" placeholder="User Password" required>
					<input type="text" name="" class="textBox" id="phone" placeholder="Phone" required>
					<input type="text" name="" class="textBox" id="city" placeholder="City" required>
					<h3>Role:</h3>
					<select class="textBox" id="role">
						<option>User</option>
						<option>Community Builder</option>
						<option>Admin</option>
					</select>
					<button type="submit" class="add" onclick="add()">Add User</button><a class="cancel" href="admin/profile/">Cancel</a>
				<!-- </form> -->
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/TabbarAndNavbar.js"></script>
<script type="text/javascript" src="/static/AddUser.js"></script>
<script type="text/javascript" src="/static/LogoutCover.js"></script>
<script type="text/javascript" src="/static/switch.js"></script>
</body>
</html>