<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="LogoutCover.css">
	<link rel="stylesheet" type="text/css" href="TabbarAndNavbar.css">
	<link rel="stylesheet" type="text/css" href="changePassword.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title></title>
</head>
<body>
<% include partials/LogoutCover.ejs %>
<% include partials/navBar.ejs %>
<div class="container">
	<% include partials/tabBar.ejs %>
	<div class="profile">
		<div class="password">
			<h1 class="head">
				Change Password
			</h1>
			<h4 class="old">
				Old Password: 
			</h4>
			<input type="text" name="" class="textBox" id="old">
			<h4 class="new">
				New Password: 
			</h4>
			<input type="text" name="" class="textBox" id="new">
			<button class="submit">Submit</button>
		</div>
	</div>
</div>
<script type="text/javascript" src="TabbarAndNavbar.js"></script>
<script type="text/javascript" src="changePassword.js"></script>
<script type="text/javascript" src="LogoutCover.js"></script>
</body>
</html>