<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/LogoutCover.css">
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<link rel="stylesheet" type="text/css" href="/static/changePassword.css">
	<link rel="stylesheet" type="text/css" href="/static/switch.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
	<title></title>
</head>
<body>
<div class="Container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% if(data.Role == 'User'){ %>
			<% include partials/tabBar3.ejs %>
		<% }else{ %>
			<% if(data.LoginAs == 'Admin'){ %>
				<% include partials/tabBar.ejs %>
			<% }else{ %>
				<% include partials/tabBar2.ejs %>
			<% } %>
		<% } %>
		<div class="content">
			<form action="/changePassword" method="post">
				<div class="password">
					<% if(changed == 'changed') { %>
						<div class="Changed" style="padding: 20px;border: 1px solid rgb(229,229,229);text-align: center;">Password Successfully Changed</div>
					<% } %>
					<% if(changed == 'wrong') { %>
						<div class="Changed" style="padding: 20px;border: 1px solid rgb(229,229,229);text-align: center;">Wrong Password!</div>
					<% } %>
					<h1 class="head">
						Change Password
					</h1>
					<h4 class="old">
						Old Password: 
					</h4>
					<input type="text" name="old" class="textBox" id="old" required>
					<h4 class="new">
						New Password: 
					</h4>
					<input type="text" name="new" class="textBox" id="new" required>
					<button class="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/TabbarAndNavbar.js"></script>
<script type="text/javascript" src="/static/switch.js"></script>
<script type="text/javascript" src="/static/LogoutCover.js"></script>
</body>
</html>