<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/CommunityList.css">
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<link rel="stylesheet" type="text/css" href="/static/LogoutCover.css">
	<link rel="stylesheet" type="text/css" href="/static/communityEdit.css">
	<link rel="stylesheet" type="text/css" href="/static/switch.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
	<style type="text/css">
		table{
			border: 1px solid rgba(0,0,0,0.1);
		}
		td{
			border-bottom: 1px solid rgba(0,0,0,0.3);
			padding: 10px;
		}
		table.dataTable tbody tr:nth-child(odd){
			background-color: transparent;
		}
		table.dataTable{
			border-collapse: unset;
		}
	</style>
	<title></title>
</head>
<body>
	<% include partials/communityEdit.ejs %>
	<% include partials/LogoutCover.ejs %>
<div class="container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% include partials/tabBar.ejs %>
		<div class="content">
			<div class="FilterButtons">
				<div class="communityList">community List</div>
				<div class="Rcontainer">
					<div class="refresh"><i class="fa fa-refresh" style="width: 10px;height: 10px;margin-right: 5px;font-size: 17px"></i>Refresh</div><select class="CommunityRule">
						<option selected>All</option>
						<option>Direct</option>
						<option>Permission</option>
					</select>
				</div>
			</div>
			<div class="Users">
				<table id="myTable" width="100%" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th class="Username" style="border-bottom: 3px solid rgb(221,221,221);">
								Community Name
							</th>
							<th class="Phone" style="border-bottom: 3px solid rgb(221,221,221);">
								Membership Rule
							</th>
							<th class="City" style="border-bottom: 3px solid rgb(221,221,221);">
								Community Location
							</th>
							<th class="Status" style="border-bottom: 3px solid rgb(221,221,221);">
								Community Owner
							</th>
							<th class="Role" style="border-bottom: 3px solid rgb(221,221,221);">
								Create Date
							</th>
							<th class="Action" style="border-bottom: 3px solid rgb(221,221,221);">
								Action
							</th>
							<th class="Action" style="border-bottom: 3px solid rgb(221,221,221);">
								Community Pic
							</th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
	<script type="text/javascript" src="/static/TabbarAndNavbar.js"></script>
	<script type="text/javascript" src="/static/CommunityList.js"></script>
	<script type="text/javascript" src="/static/LogoutCover.js"></script>
	<script type="text/javascript" src="/static/switch.js"></script>
</body>
</html>