<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<link rel="stylesheet" type="text/css" href="/static/communityAsUser.css">
	<link rel="stylesheet" type="text/css" href="/static/Switch.css">
</head>
<body>
<div class="container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% include partials/tabBar3.ejs %>
		<div class="content">
			<% include partials/communityPanel.ejs %>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/Switch2.js"></script>
<script type="text/javascript" src="/static/TabbarAndNavbar2.js"></script>
</body>
</html>