<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<link rel="stylesheet" type="text/css" href="/static/communityAsUser.css">
	<link rel="stylesheet" type="text/css" href="/static/Switch.css">
</head>
<body>
<div class="container">
	<div class="header">
		
	</div>
	<div class="container2">
		<% include partials/tabBar2.ejs %>
		<div class="content">
			<div class="searchbar">
				<i class="fa fa-users"></i><i class="fa fa-search"></i>
			</div>
			<div class="list">
				<div class="myCommunity">
					<p>My Communities
					<a href="">Create</a></p>
				</div>
				<div class="communities">
					<div class="community">
						<div class="communityimage">
							<img src="df">
						</div>
						<div class="communitydetail">
							<span>First Community</span>&nbsp;&nbsp;&nbsp;
							Request(0)
							<a href=""><i class="fa fa-cogs"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/Switch2.js"></script>
<script type="text/javascript" src="/static/TabbarAndNavbar2.js"></script>
</body>
</html>