<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/CommunityList.css">
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<link rel="stylesheet" type="text/css" href="/static/communityEdit.css">
	<link rel="stylesheet" type="text/css" href="/static/switch.css">
	<link rel="stylesheet" type="text/css" href="/static/CommunityDiscription.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
	<style type="text/css">
		.username, .phone, .city, .status, .role, .action{
			padding: 10px 10px !important;
			padding-bottom: 15px !important;
			min-width: 150px !important;
		}
		.action{
			text-align: center;
		}
		th,td{
			text-align: left;
		}
		tr:first-child > th{
			border-bottom: 3px solid rgb(224,224,224) !important;
		}
		table{
			border: 1px solid rgb(224,224,224) !important;
		}
		td,th{
			border: 1px solid rgb(224,224,224) !important;
		}
		table.dataTable tbody tr:nth-child(odd){
			background-color: rgb(249,249,249);
		}
		table.dataTable{
			border-collapse: unset;
		}
	</style>
	<title></title>
</head>
<body>
<div class="parent"></div>
<div class="Container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% include partials/tabBar.ejs %>
		<div class="content">
			<div class="filterButtons">
				<div class="Fleft">
					<div class="userlist">
						User List
					</div>
				</div>
				<div class="Fright">
					<div class="refresh">
						<i class="fa fa-refresh"></i> Refresh
					</div>
					<select class="Role">
						<option>All</option>
						<option>Direct</option>
						<option>Permission</option>
					</select>
				</div>
			</div>
			<div class="Users">
				<table id="myTable" width="100%" cellpadding="0" cellspacing="0">
					
				</table>
			</div>
		</div>
	</div>
</div>
	<script type="text/javascript" src="/static/TabbarAndNavbar.js"></script>
	<script type="text/javascript" src="/static/CommunityList.js"></script>
	<script type="text/javascript" src="/static/LogoutCover.js"></script>
	<script type="text/javascript" src="/static/switch.js"></script>
	<!-- <script type="text/javascript" src="/static/communityEdit.js"></script> -->
</body>
</html>