<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<link rel="stylesheet" type="text/css" href="/static/communityAsUser.css">
	<link rel="stylesheet" type="text/css" href="/static/Switch.css">
	<link rel="stylesheet" type="text/css" href="/static/SearchBar.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
</head>
<body>
<div class="Container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% include partials/tabBar2.ejs %>
		<div class="content">
			<div class="searchbar">
				<div class="communityButtons"><a class="fa fa-users" href="/community/communitypanel"></a><a href="/community/list" class="fa fa-search"></a></div>
			</div>
			<% include partials/communityPanel.ejs %>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/Switch.js"></script>
<!-- <script type="text/javascript" src="/static/Switch2.js"></script> -->
<script type="text/javascript" src="/static/LogoutCover.js"></script>
<script type="text/javascript" src="/static/TabbarAndNavbar2.js"></script>
</body>
</html>