<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   	<link rel="stylesheet" type="text/css" href="/static/datepicker.css">
   	<script type="text/javascript" src="/static/datepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/editInformation.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
<link rel="stylesheet" type="text/css" href="/static/Switch.css">
</head>
<body>
<div class="container">
	<div class="header">
		
	</div>
	<div class="container2">
		<% include partials/tabBar.ejs %>
		<div class="content">
			<% include partials/editInformation.ejs %>
		</div>
	</div>
</div>
<script src="/static/editInformation.js"></script>
<script type="text/javascript" src="/static/TabbarAndNavbar2.js"></script>
</body>
</html>