<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/switch.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<link rel="stylesheet" type="text/css" href="/static/SearchBar.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/joinCommunity.css">
	<style type="text/css">
		.noCommunityFound{
			padding: 0px 20px;
			padding-bottom: 20px;
			border: 1px solid rgba(0,0,0,0.1);
			text-align: left;
			border-radius: 5px;
			box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
		}
		.noCommunityFound > h1, .noCommunityFound > h3{
			font-weight: lighter;
			color: rgba(0,0,0,0.8);
			font-family: "Helvetica Neue" ;
		}
	</style>
</head>
<body>
<div class="Container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% if(data.Role == 'User'){ %>
			<% include partials/tabBar3.ejs %>
		<% }else{ %>
			<% if(data.LoginAs == 'Admin'){ %>
				<% include partials/tabBar.ejs %>
			<% }else{ %>
				<% include partials/tabBar2.ejs %>
			<% } %>
		<% } %>
		<div class="content">
			<div class="searchbar">
				<div class="communityButtons"><a class="fa fa-users" href="/community/communitypanel"></a><a href="/community/list" class="fa fa-search"></a></div>
				<div class="communitySearch"><input type="text" name="" class="textBox" placeholder="Search community..."></div>
			</div>
			<div class="available">
				
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/TabbarAndNavbar2.js"></script>
<script type="text/javascript" src="/static/switch.js"></script>
<script type="text/javascript" src="/static/joinCommunity.js"></script>
<script type="text/javascript" src="/static/LogoutCover.js"></script>
</body>
</html>