<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/login.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>
<body>
<div class="heading">cq</div>
<form method="post" action="/">
	<div class="loginForm">
		<h1 class="text">Log Into Your Account</h1>
		<% if(visible == true) { %>
			<div class="error">
				Username/Password Incorrect.
			</div>
		<% } %>
		<input type="text" name="Email" class="textBox" placeholder="Username" required>
		<input type="text" name="Password" class="textBox" placeholder="Password" required>
		<button class="login">Login</button>
	</div>
</form>
<div class="footer">cq © 2019</div>
</body>
</html>