<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/manageCommunity.css">
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/switch.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
</head>
<body>
<div class="Container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% include partials/tabBar2.ejs %>
		<div class="content">

			<div class="head">
				<span class="heading">First community</span>
			</div>
			<div class="community basicDetal">
				<div class="image">
					<img src="dfghjk">
				</div>
				<div class="communityName">
					<span>First Community</span>
				</div>
				<div class="moredetail">
					<i class="fa fa-bars" id="moredetail" onblur="hide()" tabindex="0">
						<div class="community-profile-option">
							<a href="">Discussions</a>
							<a href="">Manage Community</a>
							<a href="">Community Profile</a>
							<a href="">Community Members</a>
						</div>
					</i>
				</div>
			</div>
			<hr style="width: 90%;margin: auto;">
			<div class="manageCommunity">
				<span>Manage Community</span>
				<a href="">Invite Users</a>
				<a href="" class="edit">Edit Community</a>
			</div>
			<div class="editCommunity">
				<a href="">Edit Community</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/TabbarAndNavbar2.js"></script>
<script type="text/javascript" src="/static/switch.js"></script>
<script type="text/javascript">
document.querySelector('#moredetail').onclick = ()=>{
	if(document.querySelector('.community-profile-option').style.display == 'block'){
		document.querySelector('.community-profile-option').style.display = 'none'
	}else{
		document.querySelector('.community-profile-option').style.display = 'block'
	}
}
var hide = ()=>{
	document.querySelector('.community-profile-option').style.display = 'none'
}
</script>
</body>
</html>