<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<link rel="stylesheet" type="text/css" href="/static/Home.css">
	<link rel="stylesheet" type="text/css" href="/static/LogoutCover.css">
	<link rel="stylesheet" type="text/css" href="/static/switch.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title></title>
	<style type="text/css">
		#profile{
			background-color: rgb(51,122,183);
			color: white;
		}
		img{
			width: 100%;
			height: 100%;
		}
	</style>
</head>
<body>
<% include partials/LogoutCover.ejs %>
<div class="container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% include partials/tabBar.ejs %>
		<div class="content">
			<% include partials/profile.ejs %>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/TabbarAndNavbar2.js"></script>
<script type="text/javascript" src="/static/LogoutCover.js"></script>
<script type="text/javascript" src="/static/switch2.js"></script>
</body>
</html>