<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/ShowUser2.css">
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<link rel="stylesheet" type="text/css" href="/static/switch.css">
	<link rel="stylesheet" type="text/css" href="/static/nodeMailer.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
  	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/trumbowgy.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/trumbowgy.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script src="/static/Datatable.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<style type="text/css">
		.username, .phone, .city, .status, .role, .action{
			padding: 10px 10px !important;
			padding-bottom: 15px !important;
			min-width: 150px !important;
		}
		.action{
			text-align: center;
		}
		th,td{
			text-align: left;
		}
		tr:first-child > th{
			border-bottom: 3px solid rgb(224,224,224) !important;
		}
		td.Action{
			text-align: center;
		}
		table{
			border: 1px solid rgb(224,224,224) !important;
		}
		td,th{
			border: 1px solid rgb(224,224,224) !important;
		}
		table.dataTable tbody tr:nth-child(odd){
			background-color: rgb(249,249,249);
		}
		table.dataTable{
			border-collapse: unset;
		}
	</style>
	<title></title>
</head>
<body>
<div class="added a"></div>
<div class="exist a"></div>
<% include partials/updateUser.ejs %>
<div class="mailParent"></div>
<div class="Ecover"></div>
<div class="Container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% include partials/tabBar.ejs %>
		<div class="content">
			<div class="filterButtons">
				<div class="Fleft">
					<div class="userlist">
						User List
					</div>
				</div>
				<div class="Fright">
					<div class="refresh">
						<i class="fa fa-refresh"></i> Refresh
					</div>
					<select class="Status">
						<option>All</option>
						<option>Pending</option>
						<option>Confirmed</option>
					</select>
					<select class="Role">
						<option>All</option>
						<option>Admin</option>
						<option>User</option>
						<option>Community Manager</option>
					</select>
				</div>
			</div>
			<div class="Users">
				<table id="myTable" width="100%">
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/TabbarAndNavbar.js"></script>
<script type="text/javascript" src="/static/ShowUser2.js"></script>
<script type="text/javascript" src="/static/LogoutCover.js"></script>
<script type="text/javascript" src="/static/switch.js"></script>
<script type="text/javascript" src="/static/nodeMailer.js"></script>
</body>
</html>