<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<link rel="stylesheet" type="text/css" href="/static/Tags.css">
	<link rel="stylesheet" type="text/css" href="/static/LogoutCover.css">
	<link rel="stylesheet" type="text/css" href="/static/switch.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title></title>
</head>
<body>
<% include partials/LogoutCover.ejs %>
<div class="container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% include partials/tabBar.ejs %>
		<div class="content">
			<div class="tags">
				<div class="addTag">
					<div class="head">
						<h1>Create Tag</h1>
					</div>
					<div class="input">
						<input type="text" name="" placeholder="Tag Name" class="textBox">
						<button class="Submit">Submit</button>
					</div>
				</div>
				<button class="showTags">Tag List</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/TabbarAndNavbar.js"></script>
<script type="text/javascript" src="/static/Tags.js"></script>
<script type="text/javascript" src="/static/LogoutCover.js"></script>
<script type="text/javascript" src="/static/switch.js"></script>
</body>
</html>