.switchPOPUP{
	position: absolute;
	transform: translate(-50%,-50%);
	transition: 0.5s;
	padding: 25px;
	width: 350px;
	color: rgb(82,54,51);
	background-color: white;
	border-radius: 5px;
	z-index: 10;
	opacity: 0;
}

.leftToRight{
	/*opacity: 1;*/
	animation: topDown 0.2s both;
}

@keyframes topDown{
	100%{
		top : 50%;
		left: 50%;
		opacity: 1;
	}
}

.switchPOPUP > h1{
	margin: 0;
	font-weight: lighter;
	margin-bottom: 15px;
	min-width: 350px;
}
.switchPOPUP > span{
	display: block;
	margin-bottom: 25px;
	min-width: 350px;
}
.switchPOPUP > div{
	text-align: right;
	min-width: 350px;
}
.switchPOPUP div a{
	background-color: none;
	border: none;
	text-decoration: none;
	font-weight: bold;
	color: white;
	font-size: 17px;
	padding: 7px 15px;
	margin: 0px 5px;
	cursor: pointer;
	border-radius: 3px;
}
.switchCover{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #333;
	opacity: 0.1;
	z-index: 2;
}
.apply-shake{
	animation: shake 0.2s ease-in both;
}
@keyframes shake{
	0%{
		left: 50%;
		top : 50%;
		opacity: 1;
	}
	25%{
		left: 51%;
	}
	50%{
		left: 49%;
	}
	75%{
		left: 51%;
	}
	100%{
		left: 50%;
		top : 50%;
		opacity: 1;
	}
}
#switch{
	background-color: rgb(92,184,92);
}
#exit{
	background-color: rgb(217,83,79);
}